<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/" >
            <img th:src="@{hr.png}" width="50" height="50" class="d-inline-block align-middle" alt="">
            Employees
        </a>


    </nav>
</head>
<body>

<div class="tab-pane fade show active" id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab">
    <table class="table table-secondary">
        <thead>
        <tr>
            <th scope="col">employee_id</th>
            <th scope="col">first_name</th>
            <th scope="col">last_name</th>
            <th scope="col">email</th>
            <th scope="col">phone_number</th>
            <th scope="col">hire_date</th>
            <th scope="col">job_id</th>
            <th scope="col">salary</th>
            <th scope="col">commission_pct</th>
            <th scope="col">manager_id</th>
            <th scope="col">department_id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="employees : ${employeesList}">
            <td scope="row" th:utext="${employees.getEmployee_id()}"></td>
            <td scope="row" th:utext="${employees.getFirst_name()}"></td>
            <td scope="row" th:utext="${employees.getLast_name()}"></td>
            <td scope="row" th:utext="${employees.getEmail()}"></td>
            <td scope="row" th:utext="${employees.getPhone_number()}"></td>
            <td scope="row" th:utext="${employees.getHire_date()}"></td>
            <td scope="row" th:utext="${employees.getJob_id().getJob_id()}"></td>
            <td scope="row" th:utext="${employees.getSalary()}"></td>
            <td scope="row" th:utext="${employees.getCommission_pct()}"></td>
            <td scope="row" th:utext="${employees.getManager_id().getManager_id()}"></td>
            <td scope="row" th:utext="${employees.getDepartment_id().getDepartment_id()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>