<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/" >
            <img th:src="@{hr.png}" width="50" height="50" class="d-inline-block align-middle" alt="">
            Regions
        </a>


    </nav>
</head>
<body>

<script>

    function addDelModalBox() {
        $("#delModalBox").modal('show');
    }

    function addChgModalBox() {
        $("#chgModalBox").modal('show');
    }

    function delRegion() {
        var JSONObject= {
            'region_id': document.getElementById('inputRegion_idDel').value
        };

        $.ajax({
            type: 'POST',
            url:  '/rest/delRegion',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(JSONObject),
            dataType: 'json',
            async: true
        });
    }
    function chgRegion() {
        var JSONObject= {
            'region_id': document.getElementById('inputRegion_idChg').value,
            'region_name': document.getElementById('inputRegion_nameChg').value
        };

        $.ajax({
            type: 'POST',
            url:  '/rest/chgRegion',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(JSONObject),
            dataType: 'json',
            async: true
        });
    }


</script>


<div id="delModalBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <h4 class="modal-title">Удаление производителя по id</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Введите Region_id записи</span>
                </div>
                <input type="text" id="inputRegion_idDel" class="form-control" placeholder="#" aria-label="Name" aria-describedby="basic-addon1">
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload();">Закрыть</button>
                <button type="button" class="btn btn-danger" onclick="delRegion();">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div id="chgModalBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <h4 class="modal-title">Изменение производителя по Region_id</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Введите Region_id записи</span>
                </div>
                <input type="text" id="inputRegion_idChg" class="form-control" placeholder="#" aria-label="Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Введите новое имя</span>
                </div>
                <input type="text" id="inputRegion_nameChg" class="form-control" placeholder="..." aria-label="Name" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade show active" id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab">
    <table class="table table-secondary">
        <thead>
        <tr>
            <th scope="col">region_id</th>
            <th scope="col">region_name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="regions : ${regionsList}">
            <td scope="row" th:utext="${regions.getRegion_id()}"></td>
            <td scope="row" th:utext="${regions.getRegion_name()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" onclick="location.href='addRegion';">Добавить</button>
    <button type="button" class="btn btn-danger"  onclick="addDelModalBox();">Удалить</button>
    <button type="button" class="btn btn-warning" onclick="addChgModalBox();">Изменить</button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>